@font-face {
    font-family: 'nupe2';
    src:url("../fonts/nupe2.ttf") format('truetype');
}
@font-face {
    font-family: 'FontAwesome';
    src:url("../fonts/FontAwesome.ttf") format('truetype');
}
